body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("https://cdn.dribbble.com/users/3459303/screenshots/17262567/colorful_dance_floor._music_stage._disco_ball_show_performance_begin_with_lighting_and_audience._con_4x.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  display: flex;
  height:50px;
  background-color: #555;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title{
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans SignWriting', sans-serif;
  font-family: 'Rampart One', cursive;
}
.dancer{
  border:20px solid red;
  border-radius:50%;
  position: absolute;
}

.blinkDancer{
  border-color: purple;
}

.popDancer{
  transition-duration: 500ms;
  border-color: blue;
}
.bigger{
  transform: scale(2);
}

.superHeroDancer{
  transition-duration: 500ms;
  border-color: orange;
}
.changeShape {
  border-radius: 0;
  position: absolute;
}

.dancer:hover {
  border-radius: 0;
  border-color: green;
}

.dancerButtons, .lineUpButtons {
  display: flex;
  flex-direction: row;
}

.dancerButtons {
  width: 40%;
  justify-content: left;
}

.lineUpButtons {
  width: 40%;
  justify-content: right;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  color: #444;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
  margin: 10px;
  font-weight: bold;
  border-radius: 16px;
  cursor: pointer;
  font-family: 'Rampart One', cursive;
}